main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

/*carouself */
.carousel-container {
  height: 20rem;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}
.carousel img {
  height: 15rem;
  padding: 3rem;
  margin: 4rem;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}

/* @media only screen and (min-width: 768px) and (max-width: 1200px) {

  .product-page-section {
    min-width: 350px;
  }

  .product-page-section:nth-child(9) {
    margin: 20px 0 0 50%;
  }
} */